.wrapper {
  background: linear-gradient(to right, #021B79, #0575E6, transparent), url('/assets/contacto-world-map-dotted-png.png');
  height: 990px;
}

.login-box{
    top:100px;
}

.card {
  background-color: rgba(0,0,128,0.6);
  box-shadow: 0 0 10px !important;
  border: none !important;
}

.bmd-label {
  font-weight: 500;
  color:white;
}

.fontIcons {
  position: relative;
}

.fontIcons i {
  position: absolute;
  top: 11px;
  color: black;
  right: 7px;
}

.alert-danger {
  border-color: #e61818;
  padding: 7px;
}

.btn-outline-primary {
  font-weight: bold;
  color: white;
}
